<div class="row">
  <div class="col col-lg-6 col-sm-12">
    <figure>
      <a href="/owners/1">
        <img src="http://www.presidentialpetmuseum.com/wp-content/uploads/2016/02/sunny-obama-with-president-680x454.jpg" alt="Obama's Dog Sunny" class="img-thumbnail">
        <figcaption class="text-center">Barack's Dogs</figcaption>
      </a>
    </figure>
  </div>
  <div class="col col-lg-6 col-sm-12">
    <figure>
      <a href="/owners/2">
        <img src="http://www.petspyjamas.com/uploads/2013/08/Ellen-Degeneres.jpg" alt="Ellen's Dogs Wolf and Mabel" class="img-thumbnail">
        <figcaption class="text-center">Ellen's Dogs</figcaption>
      </a>
    </figure>
  </div>
</div>
<div class="row">
  <div class="col text-center">
  <button type="button" class="btn btn-light">
    <a href="/dogs">
      Dogs <span class="badge badge-primary"><%= @num_of_dogs %></span>
    </a>
  </button>
  <button type="button" class="btn btn-light">
    <a href="/owners">
      Owners <span class="badge badge-primary"><%= @num_of_owners %></span>
    </a>
  </button>
  <button type="button" class="btn btn-light">
    <a href="/woof">
      Surprise!
    </a>
  </button>
  </div>
</div>
